.leftBottom {
  display: flex;
  /* background-color: red; */
  width: 99%;
  justify-content: space-around;
  height: 20rem;
  gap: 13px;
}
.childs {
  background-color: white;
  width: 32%;
  border-radius: 10px;
  min-width: 250px;
}
.topProducts {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
#opt {
  color: grey;
  outline: none;
  border: none;
  background-color: white;
  z-index: 2;
}
.stats {
  display: flex;
  flex-direction: column;
}
.orders {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.orders > p {
  font-weight: 700;
  margin-left: 5px;
}
.moreHorizIcon {
  margin-top: 15px;
  margin-right: 10px;
}
.completed {
  display: flex;
  /* background:linear-gradient(to bottom,red,rgb(224, 185, 185)); */
  justify-content: space-around;
  /* color: grey; */
  font-size: small;
}
.donut {
  width: 100px;
  height: 100px;
}
.months {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
  padding: 10px;
}
@media (max-width: 768px) {
  .leftBottom {
    display: grid;
  }
}
