.graph {
  display: flex;
  background-color: white;
  width: 98%;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
}
.graphData {
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
}
.displayGraph {
  width: 70%;
  padding: 5px;
}
.verticalLine {
  background-color: rgb(194, 191, 191);
  width: 1px;
  height: 2rem;
}
.orderDetails {
  font-size: small;
  width: 40%;
  color: grey;
}
.orderDetails > b {
  color: black;
  margin-top: 0;
}
.graphData > div > span {
  margin-top: 0;
  color: grey;
}
.bar {
  border-radius: 20px;
}
.sortby{
    position: absolute;
    left: 41rem;
}
