.right-content {
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  min-width: 250px;
  gap: 2px;
}
.right-content > img:first-child {
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}
.myImg {
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  left: 95px;
  z-index: 2;
}
figure > figcaption {
  margin-top: 20px;
  font-weight: 700;
}
figure > figcaption > article {
  font-weight: 400;
  color: grey;
}
.details {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
hr {
  width: 90%;
  margin-top: 5px;
  opacity: 0.5;
}
.earnings {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 90%;
}
.earnings > p {
  margin-top: 0px;
  font-weight: 600;
}
.icon {
  opacity: 0.6;
}
.details > div > p {
  color: grey;
  margin-top: 2px;
}
.circleProgress {
  transform: rotate(-90deg);
  width: 100px;
  height: 100px;
}
.totalEarnings {
  position: absolute;
  top: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}
.totalEarnings:last-child {
  font-weight: 700;
}
.activity {
  width: 90%;
  height: 40px;
  /* background-color: red; */
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.info {
  color: gray;
  font-size: 10.5px;
  width: 70%;
}
.date {
  border-radius: 5px;
  width: 15%;
  background-color: rgb(223, 219, 219);
}
